html{
    height: 100%
}

body{
    background-color: white;
    height: 100%
}

header{
    padding: 10px;
    background: darkseagreen;
    margin-bottom: 30px;
}



header h1{
    display: inline-block;
    color: #ffffff;
}
header i{
    display: inline-block;
    font-size: 30px;
    color: #ffffff;
}



section{
    min-height: 750px;
}

footer{
    background-color: darkseagreen;
    text-align: center;
    padding: 30px;
    color: white;
    margin-top: 30px;
}



h3{
    width: 100%;
    background-color: rgba(58, 153, 205, 0.7);
    color: white;
    padding: 10px;
    font-weight: bold;
    margin: 0px;
    cursor: pointer;
}

input[type="text"]{
    width: 100%;
    border: solid 1px lightgrey;
    height: 45px;
    padding: 10px;
    outline: none;
}

button{
    height: 45px;
    background-color: darkseagreen;
    color: #ffffff;
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 20px
}

.m-t-30{
    margin-top: 30px;
}
.relative{
    position: relative;
}

.float-right{
    float: right;
}


.btn-success{
    background-color: darkseagreen;
    width: 100%;
    border-radius: 0px;
    border: none;
    margin-top: 30px;
    padding: 15px;
    font-size: 19px;
    font-weight: bold;
}

.btn-success:hover{
    background-color: darkgray;
}

.col-sm-12{
    padding: 0px;
}

img{
    border-radius: 10px;
}

h1{
    margin: 0px;
}

h4{
    color: darkseagreen;
}

.about-supporting{
    border: solid 1px darkgray;
    padding: 20px;
}

.error{
    color: red;
    display: none;
}